#ifndef SECRETS_H
#define SECRETS_H

// --- Segredos do Wi-Fi ---
#define WIFI_SSID "COLOQUE_O_NOME_DA_SUA_REDE_AQUI"
#define WIFI_PASS "COLOQUE_A_SENHA_DA_SUA_REDE_AQUI"

// --- Segredos do Roteador ---
#define ROUTER_IP        "192.168.1.1"
#define ROUTER_TR064_PORT 49000
#define ROUTER_USER      "admin"
#define ROUTER_PASS      "sua_senha_de_admin"

// --- Segredos do Telegram ---
#define TELEGRAM_BOT_TOKEN "COLOQUE_SEU_TOKEN_DO_BOTFATHER_AQUI"
#define TELEGRAM_CHAT_ID   123456789

#endif // SECRETS_H